.container {
  /* display: block; */
  /* margin: auto; */
  /* margin: auto; */
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* max-width: 100vw; */
  /* https://www.toptal.com/designers/subtlepatterns/uploads/memphis-mini-dark.png */
  /* background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/memphis-mini-dark.png'); */

  background-color: white;
  background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/topography.png');
  background-attachment: fixed;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.clientContainer {
  background-color: blueviolet;
}

.clientSongList {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.userIcon {
  /* height: 100px;
  width: 100px; */
  align-self: center;

  /* overflow:hidden;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(255, 255, 255); */

  border-radius: 50%;
  /* min-width: 100px; */

}

.nav {
  /* background-color: #0070f3; */
  border-radius: 10px;
}



.footer {
  background-color: rgb(52, 52, 52);
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.uploadButton {
  /* margin: ; */
  border-style: solid;
  border-radius: 10px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  padding: 10px;
  
}





.clientInfoListItemListItem {
  /* overflow: hidden;
  text-overflow: ellipsis; */

}



.songListItem {
  padding: 0px;
  margin: 0px;
}

.songListItemListItem {
  list-style: none;
  /* padding: 10px;
  margin: 10px; */
}





.audio {
  width: 100%;
}

.revisionTextArea {
  width: 100%;
  min-height: 200px;
  resize: none;
}


