.container {
  /* display: block; */
  /* margin: auto; */
  /* margin: auto; */
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.userIcon {
  border-radius: 50%;
}

.nav {
  /* background-color: #0070f3; */
  border-radius: 10px;
}

.admin {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: black;
  padding: 10px;
  padding-top: 30px;
  margin: 10px;
}

.footer {
  background-color: rgb(52, 52, 52);
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.uploadButton {
  /* margin: ; */
  border-style: solid;
  border-radius: 10px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  padding: 10px;
  
}

.clientInfoListItem {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  max-width: 450px;
  list-style: none;
  padding: 10px;
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(86, 86, 86);
  border-width: 2px;
  margin: 10px;
  
}

.clientInfoListItemListItem {
  overflow: hidden;
  text-overflow: ellipsis;

}

.clientInfo {
  background-color: rgb(190, 190, 190);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.songList {
  padding: 10px;
  margin: 10px;
  list-style: none;
}
.songListItem {
  padding: 0px;
  margin: 0px;
}

.songListItemListItem {
  list-style: none;
  /* padding: 10px;
  margin: 10px; */
}

